{% if name == "" %}
 <p>Введите имя, пожалуйста!</p>
  {% else %}
 <p>
 Привет,
 {% if gender == "m" %}
 студент
 {% elif gender == "w" %}
 студентка
 {% endif %}
 {{name}}!
 </p>
    <p>
     Ваша образовательная программа: {{program}}.
     </p>
     {% if len(subjects_select) == 0 %}
         <p>Вы не изучаете никаких дисциплин</p>
     {% else %}
    <p>
     Вы изучаете дисциплины:
     {% for ind, sub in enumerate(subjects_select, start=1) %}
         {% if ind == len(subjects_select) %}
             <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>.
         {% else %}
            <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>,
         {% endif %}
     {% endfor %}
     </p>
          {% endif %}
 {% endif %}