<!DOCTYPE HTML>
<html>
 <head>
 <title> Приветствие </title>
 </head>
<body style="width: 40%; margin: auto">
 <form id="main-form" action="{{ url_for('hello') }}" method="get">
 <div class="flex-div" style="display: flex; justify-content: space-between">
 <p>Имя: <input id="name-field" type = text name=username></p>
     <p>
     <input id="page" type ="checkbox" name="same-page" value="true">
         На той же странице
     </p>
 </div>
 <p>Пол:<br>
 <input type = radio name=gender value=w> Ж <br>
 <input type = radio name=gender value=m checked> M <br>
     Образовательная программа:
     <select name=program>
     {% for i in range(len(program_list)) %}
     <option value={{i}}>{{program_list[i]}}</option>
     {% endfor %}
     </select>
 </p>
 <p>
 Выберите дисциплины, которые Вы изучаете:<br>
 {% for i in range(len(subject_list)) %}
 <input type = checkbox name=subject[] value={{i}}>
 {{subject_list[i]}}<br>
 {% endfor %}
 </p>

     <p><input id="form-submit" type=submit value=Отправить> <input id="reset-btn" type="reset" value="Очистить"></p>
 </form>
 <div id="second-part"></div>
<script src="{{ url_for('static', filename = 'index.js')}}"></script>
</body>
</html>